<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="S" value="iSoftBet.Gateway.2020.6.22540.0"/>
  </appSettings>
  <connectionStrings>
    <add name="Scratch" connectionString="Data Source=NGT-AG-QA;Network Library=DBMSSOCN;Initial Catalog=Scratch;User ID=DBA;Password=tundra5;Max Pool Size=1000" providerName="System.Data.SqlClient" />
    <add name="Logger" connectionString="Data Source=QA-DB-CL;Network Library=DBMSSOCN;Initial Catalog=CLDB;User ID=scratch;Password=scratchme;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>